@using Webshop.Services.Services.ViewModel
@model PasswordChangeViewModel

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto"><h2>Jelszó megváltoztatása</h2></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <Label>Régi jelszó</Label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <label>Új jelszó</label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Jelszó megváltoztatása</button>
                </div>
            </div>
        </div>
    </div>
}
