<!DOCTYPE html>
<html>
<head>
    <title>Rendelés visszaigazolás</title>
</head>
<body>
    <h2>Köszönjük a rendelést!</h2>
    <p>A rendelés adatai:</p>
    <table border="1">
        <tr>
            <th>Termék</th>
            <th>Mennyiség</th>
            <th>Ár</th>
        </tr>
        {{ORDER_ITEMS}} 
        <tr>
            <th colspan="2">Végösszeg:</th>
            <th>{{TOTAL_PRICE}}</th>
        </tr>
    </table>
    <p>Értesítjük, amint megérkezik a rendelése.</p>
    <p>Üdvözlettel, DXMarket</p>
</body>
</html>
