@using Webshop.Authenticator.Services.Authenticator
@using Webshop.EntityFramework.Data
@model Webshop.EntityFramework.Data.ShoppingCart
@{
    var isAuthenticated = ViewBag.IsAuthenticated;
}



<h2>Bevásárlókosár</h2>

@if (Model != null && Model.CartItems.Any())
{
    <table>
        <tr>
            <th>Termék neve</th>
            <th>Ár</th>
            <th>Mennyiség</th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Product.Price Ft</td>
                <td>@item.Quanity</td>
            </tr>
        }
    </table>
    <a href=@Url.Action("Details", "Order")>Rendelés</a>
}
else
{
    <p>A kosár üres.</p>
}



