@using Webshop.Authenticator.Services.Authenticator
@using Webshop.EntityFramework.Data
@model Webshop.EntityFramework.Data.ShoppingCart
@{
    var isAuthenticated = ViewBag.IsAuthenticated;
}



<div class="col-1">
    <div class="container">
        dsa
    </div>
</div>
<div class="col-2">
    asd
</div>
<a href=@Url.Action("Details", "Order")>Rendelés</a>

