<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/pcbuilder.css" />

</head>
<div id="overlay" style="display:none;">
    <div class="spinner-border" role="status" id="globalSpinner"></div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <h1>Számítógép összerakó</h1>
    </div>
</div>
<div id="cart-popup" class="popup">
    <div class="popup-content">
        <span id="popup-close" class="popup-close">&times;</span>
        <p id="popup-message"></p>
    </div>
</div>
<form id="pcBuilderForm">
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="cpuSelect">Processzor:</label>
            <select id="cpuSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="cpucoolerSelect">Processzor hűtő:</label>
            <select id="cpucoolerSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="motherboardSelect">Alaplap:</label>
            <select id="motherboardSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="ramSelect">Memória:</label>
            <select id="ramSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="caseSelect">Gépház:</label>
            <select id="caseSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="gpuSelect">Videókártya:</label>
            <select id="gpuSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="psuSelect">Tápegység:</label>
            <select id="psuSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <label for="ssdSelect">SSD:</label>
            <select id="ssdSelect">
                <option value="">Válassz</option>
            </select>
        </div>
    </div>
</form>
<div class="row justify-content-center">
    <div class="col-auto">
        <div id="totalCost"><span id="costValue">0</span> Ft</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <a href="#" id="addToCart" class="add-to-cart">Kosárba teszem</a>
    </div>
</div>

<script>
    const addToCartBaseUrl = '@Url.Action("AddToCart", "Product")';
</script>
<script src="~/js/pcbuilder.js"></script>
