@{
    ViewData["Title"] = "Gépösszerakó";
}
<select id="cpuSelect">
    <option value="">Válassz CPU-t</option>
</select>

<select id="motherboardSelect">
    <option value="">Válassz alaplapot</option>
</select>

<select id="ramSelect">
    <option value="">Válassz RAM-ot</option>
</select>

<select id="caseSelect">
    <option value="">Válassz házat</option>
</select>
<script src="~/js/pcbuilder.js"></script>


