

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ASZF.css" />

</head>

<div class="container">
    <h1>Általános Szerződési Feltételek (ÁSZF)</h1>

    <section>
        <h2 class="section-title">1. Bevezetés</h2>
        <p class="section-content">
            A DXMarket Zrt. (székhely: 1234 Budapest, Fő utca 12., cégjegyzékszám: 01-23-456789, adószám: 12345678-1-42, e-mail: social@dxmarket.hu, telefonszám: 0670 123 4567) a <b>DXMarket</b> online boltot üzemelteti, amely a [localhost:7181] weboldalon érhető el. Az alábbiakban található Általános Szerződési Feltételek (ÁSZF) a DXMarket Zrt. által üzemeltetett Webshop használatának és a webshopon keresztüli vásárlás szabályait tartalmazza. A Webshop használatával a Vásárló elfogadja az alábbi feltételeket.
        </p>
    </section>

    <section>
        <h2 class="section-title">2. A szerződő felek</h2>
        <p class="section-content">
            <b>Szolgáltató:</b><br>
            Név: DXMarket Zrt.<br>
            Székhely: 1234 Budapest, Fő utca 12.<br>
            Cégjegyzékszám: 01-23-456789<br>
            Adószám: 12345678-1-42<br>
            E-mail: social@dxmarket.hu<br>
            Telefonszám: 0670 123 4567<br><br>

            <b>Vásárló:</b><br>
            A Vásárló lehet bármely természetes személy, aki a Webshopban regisztrál, illetve rendelést ad le.
        </p>
    </section>

    <section>
        <h2 class="section-title">3. A Webshop használata</h2>
        <p class="section-content">
            A Webshop használatával a Vásárló elfogadja, hogy az oldalon keresztül történő vásárlásokat kizárólag a Szolgáltató jelenlegi ÁSZF-je alapján végzi. A Webshop szolgáltatásai regisztrációhoz nem kötöttek, azonban a Vásárló számára kényelmi szolgáltatásokat biztosítunk, ha regisztrál.
        </p>
    </section>

    <section>
        <h2 class="section-title">4. A termékek és árak</h2>
        <p class="section-content">
            - A Webshopban elérhető termékek az aktuális készlet függvényében folyamatosan változhatnak.<br>
            - Az árak forintban (HUF) értendők, az ÁFA-t tartalmazzák. Az árak nem tartalmazzák a szállítási költségeket.<br>
            - A termékek mellett feltüntetett árak a vásárlás idején érvényesek. A Szolgáltató jogosult az árak előzetes értesítés nélkül módosítani.
        </p>
    </section>

    <section>
        <h2 class="section-title">5. A vásárlás menete</h2>
        <p class="section-content">
            1. A Vásárló kiválasztja a kívánt terméket a Webshopban.<br>
            2. A Vásárló a terméket a kosárba helyezi, és a fizetési folyamat során megadja a szükséges adatokat (szállítási cím, elérhetőség, stb.).<br>
            3. A Vásárló megerősíti a rendelést, és a fizetési módot választja. Az utánvét díja 490 Ft, ami a fizetés során kerül felszámításra.<br>
            4. A Vásárló a rendelés véglegesítésével tudomásul veszi, hogy a rendelés a Szolgáltató által visszaigazolt termékekre vonatkozik.
        </p>
    </section>

    <section>
        <h2 class="section-title">6. Fizetési módok</h2>
        <p class="section-content">
            A Webshopban elérhető fizetési módok:<br>
            - Utánvét: A Vásárló a termék átvételekor készpénzben vagy bankkártyával fizethet a futárnak.
        </p>
    </section>

    <section>
        <h2 class="section-title">7. Szállítási feltételek</h2>
        <p class="section-content">
            - A termékek szállítása a Vásárló által megadott címre történik.<br>
            - A szállítási idő a rendelés visszaigazolását követően 2-3 munkanap.<br>
            - A szállítási költségek a csomag súlyától és méretétől függően változnak. Az utánvét díja 490 Ft.
        </p>
    </section>

    <section>
        <h2 class="section-title">8. Elállás joga</h2>
        <p class="section-content">
            A Vásárló jogosult a rendelésétől való elállásra a termék kézhezvételét követően 14 napon belül, a 45/2014. (II. 26.) Korm. rendelet értelmében. Az elállási jog gyakorlásához a Vásárló köteles az elállásról szóló írásbeli értesítést elküldeni a Szolgáltató címére (social@dxmarket.hu) vagy postai úton.<br><br>
            A terméket az elállási jog gyakorlása után a Vásárlónak vissza kell küldenie a Szolgáltatónak a költségeken keresztül (visszaküldés költsége a Vásárlót terheli).
        </p>
    </section>

    <section>
        <h2 class="section-title">9. Szavatosság és Jótállás</h2>
        <p class="section-content">
            - A Szolgáltató a termékekre szavatosságot nem vállal, kivéve, ha a terméken gyártói garancia van.<br>
            - A termékekre 2 év jótállás vonatkozik. A jótállás érvényesítéséhez a vásárlás dátumától számított 2 éven belül kell jelezni a termék meghibásodását, és a Vásárlónak meg kell őriznie a vásárlásról szóló bizonylatot.
        </p>
    </section>

    <section>
        <h2 class="section-title">10. Adatkezelés</h2>
        <p class="section-content">
            A Vásárló személyes adatait a Szolgáltató kizárólag a rendelés teljesítéséhez szükséges mértékben és a vonatkozó adatvédelmi törvények betartásával kezeli. Az adatkezelési tájékoztató a Webshop oldalán elérhető, és részletesen bemutatja, hogyan kerülnek kezelve a Vásárló adatai.
        </p>
    </section>

    <section>
        <h2 class="section-title">11. Záró rendelkezések</h2>
        <p class="section-content">
            - A Szolgáltató fenntartja a jogot, hogy bármikor módosítsa az ÁSZF-et. Az új verziók a Webshopon történő közzététellel lépnek hatályba.<br>
            - A Vásárló a Webshop használatával tudomásul veszi és elfogadja az ÁSZF változásait.<br>
            - A Szolgáltató nem vállal felelősséget az esetleges technikai hibákból, vagy az oldal használatából eredő problémákért.<br>
            - A Szolgáltató és a Vásárló közötti jogviták rendezésére a magyar bíróságok illetékesek.
        </p>
    </section>
</div>
