
@using Webshop.Authenticator.Services.Authenticator
@model AuthenticatorService
@{
    ViewData["Title"] = "Főoldal";
    var isAuthenticated = ViewBag.IsAuthenticated;
}


<div class="text-center">
    <h1 class="display-4">Üdvözlünk a webshopon!</h1>
</div>
<table>
    <thead>
        <th>Város</th>
        <th>Időjárás</th>
        <th>Leírás</th>

        
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
    </tbody>
</table>
