@using Webshop.EntityFramework.Data
@model List<Orders>

    <head>
        <link rel="stylesheet" href="css/orders.css" />
    </head>
@if (Model is not null && Model.Any())
{
    <div class="orders-container">
        @foreach (var order in Model)
        {
            <div class="order-item">
                <h3>Rendelés #@order.Id</h3>
                <div class="order-details">
                    @if (order.OrderItems != null && order.OrderItems.Any())
                    {
                        <div class="order-items">
                            @foreach (var item in order.OrderItems)
                            {
                                <div class="order-item-detail">
                                    <span class="product-name">@item.Product.ProductName</span> -
                                    <span class="quantity">Mennyiség: @item.Quantity</span> -
                                    <span class="price">@(@item.Quantity * item.Product.Price) Ft</span>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Nincsenek rendeléseid.</p>
}
