@using Webshop.Authenticator.Services.Authenticator
@using Webshop.Services.Services.ViewModel
@model PersonalDataViewModel


<h1>Felhasználói adatok</h1>
<h3>Felhasználónév: @Model.UserName</h3>
<h3>Email cím: @Model.Email</h3>

@Html.Partial("_ChangePasswordPartial", new PasswordChangeViewModel())



