@using Webshop.EntityFramework.Data
@model Products

<head>
    <meta charset="UTF-8" />
</head>
<h1>@Model.ProductName</h1>

@if(Model.Price!=0)
{
    <p><strong>Ár:</strong> @Model.Price</p>

}
@foreach(var desc in Model.Description)
{
    <p>@desc</p>
}
@if(Model.Quanity>0)
{
    <a href=@Url.Action("AddToCart","Product", new { Id = Model.Id })>Kosárhoz adás</a>

}
else if(Model.Price==0)
{
    <p>Hamarosan</p>
}
else if(Model.Quanity==0)
{
    <p>Nincs raktáron</p>
}



