@using Webshop.EntityFramework.Data
@model List<Products>


    <table>
        <thead>
            <th>Terméknév</th>
            <th>ár</th>
            <th>mennyiség</th>
        </thead>
        <tbody>
            @if (Model is not null)
            {
                @foreach (var product in Model)
                {
                    <tr>

                    <td><a href="@Url.Action("Details", "Product", new { id = product.Id })">@product.ProductName</a></td>
                    
                        <td>@product.Price</td>
                        <td>@product.Quanity</td> 
                        <td></td>
                    </tr>
                }
            }
        </tbody>
        
    </table>
