@using Webshop.EntityFramework.Data
@model UserData
@{
    var Code = ViewBag.Response;
}
@using (Html.BeginForm("TryRegister", "Authentication"))
{
    @if(Code is not null && Code!="")
    {
        <h1>@Code</h1>
        
    }
    <h1>Regisztráció</h1>
    <label>Felhasználónév</label>
    <input type="text" name="username" />
    <label>Email cím</label>
    <input type="text" name="email" />
    <label>Jelszó</label>
    <input type="password" name="password1" />
    <label>Jelszó újra</label>
    <input type="password" name="password2" />
    <input type="submit" value="Regisztráció" />
}
